[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.2,<5.0"
djangorestframework = ">=3.14"
django-cors-headers = ">=4.3"
Pillow = ">=10.0"
dj-database-url = ">=2.1"
psycopg2-binary = ">=2.9"
gunicorn = ">=21.2"
whitenoise = ">=6.6"

[dev-packages]
sentry-sdk = ">=1.40"

[requires]
python_version = "3.11"
